html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #555;
  line-height: 1.4em;
}

p, ul {
  margin-bottom: 1em;
}

ol, ul {
  list-style: none;
}

strong {
  font-weight: 700;
}

a {
  color: #0881b3;
  text-decoration: none;
}
  a:hover {
  text-decoration: underline;
}

ul.list {
  padding-left: 1.4em;
}
ul.list li {
  list-style: disc;
}

div#map {
  width: 100%;
  height: 550px;
}
@media all and (max-width: 620px) {
  div#map {
      height: 170px;
	}
}

h1 {
  font-size: 2.5em;
  margin-bottom: 1em;
  padding-top: 1em;
  line-height: 1em;
}
h1 a {
  color: #76b7e4;
}

h3 {
  font-weight: 700;
  font-size: 1.1em;
  margin-bottom: 0.5em;
}
h3 small {
  color: #d3d3d3;
  font-weight: 400;
  font-size: 1em;
}

body > main,
body > footer {
  max-width: 640px;
  margin: 0 auto;
  padding: 0 10px;
}

body > footer {
	margin-bottom: 50px;
}
