html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: #555;
  line-height: 1.4em;
}

p, ul {
  margin-bottom: 1em;
}

ol, ul {
  list-style: none;
}

strong {
  font-weight: 700;
}

a {
  color: #0881b3;
  text-decoration: none;
}
  a:hover {
  text-decoration: underline;
}

ul.list {
  padding-left: 1.4em;
}
ul.list li {
  list-style: disc;
}

div#map {
  width: 100%;
  height: 550px;
}
@media all and (max-width: 620px) {
  div#map {
      height: 170px;
	}
}

h1 {
  font-size: 2.5em;
  margin-bottom: 1em;
  padding-top: 1em;
  line-height: 1em;
}
h1 a {
  color: #76b7e4;
}

h2 {
  font-weight: 700;
  font-size: 1.5em;
  margin-bottom: 0.5em;
  color: #0881b3;
}

h3 {
  font-weight: 700;
  font-size: 1.1em;
  margin-bottom: 0.5em;
}
h3 small {
  color: #bebebe;
  font-weight: 400;
  font-size: 17px;
}

p.load-more {
  text-align: center;
  padding: 1em 0;
}

a.button {
  border-radius: 4px;
  background-color: #76b7e4;
  color: #fff;
  padding: 8px 12px;
  font-weight: 700;
  }
a.button:hover {
  text-decoration: none;
  background-color: #0881b3;
}
a.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: .65;
}

body > main,
body > footer {
  max-width: 640px;
  margin: 0 auto;
  padding: 0 10px;
}

body > footer {
	margin-bottom: 50px;
}
