<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Road Trip dans l'Ouest Americain</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link type="text/css" rel="stylesheet" href="/static/css/reset.css" />
    <link type="text/css" rel="stylesheet" href="/static/css/main.css" />
    <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.css' rel='stylesheet' />
  </head>

  <body>
    <header>
      <div id='map'></div>
    </header>
    <main>
      <h1><a href="/">Road Trip dans l'Ouest Americain</a></h1>

      <h2>Circuit</h2>

      <h3>San Francisco <small>02/05 - 06/05</small></h3>
      <ul>
        <li>Jour 1 - Golden Gate Park, Lincoln Park, China Beach, Presidio</li>
        <li>Jour 2 - Chinatown, Transamerica Pyramid, Colombus Avenue, Coit Tower</li>
        <li>Jour 3 - Visite d'Alcatraz, Lombard Street, Nob Hill, Fisherman's Warf, Fort Mason</li>
        <li>Jour 4 - Alamo Square, Hayes Valley, Buena Vista Park, Portrero, Twin Peaks, Mission</li>
      </ul>

      <h3>Yosemite National Park <small>06/05 - 08/05</small></h3>

      <h3>Death Valley National Park <small>08/05</small></h3>

      <h3>Las Vegas <small>08/05 - 10/05</small></h3>

      <h3>Grand Canyon National Park <small>10/05 - 11/05</small></h3>

      <h3>Joshua Tree National Park <small>11/05 - 12/05</small></h3>

      <h3>Los Angeles <small>12/05 - 20/05</small></h3>
      <ul>
        <li>Jour 1 - Rodeo Drive, Academy of Motion Picture Arts and Sciences</li>
        <li>Jour 2 - Griffith Park</li>
        <li>Jour 3 - Santa Monica, Venice Beach, Getty Center</li>
        <li>Jour 4 - Visite des studios Paramount, Hollywood Boulevard, Hollywood Bowl</li>
        <li>Jour 5 - Pasadena, Rose Bowl</li>
        <li>Jour 6 - Walt Disney Concert Hall, Little Tokyo, City Hall</li>
        <li>Jour 7 - Chateau Marmont, Laurel Canyon, Sunset Strip, Pacific Design Center</li>
        <li>Jour 8 - Repos</li>
      </ul>

      <h3>C&ocirc;te Pacifique <small>20/05 - 22/05</small></h3>
      <ul>
        <li>Jour 1 - Santa Barbara, San Luis Obispo</li>
        <li>Jour 2 - Carmel, Monterey, Salinas</li>
      </ul>

      <h2>Photos</h2>
      <div id="instafeed"></div>
      <p class="load-more">
        <a class="button" id="load-more" href="#/" onclick="click">Plus de photos</a>
      </p>
    </main>

    <footer>
      <div id="disqus_thread"></div>
    </footer>

    <script src="/static/js/map.js"></script>
    <script type="text/javascript" src="/static/js/instafeed.min.js"></script>
    <script type="text/javascript">
    var loadButton = document.getElementById('load-more');
      var userFeed = new Instafeed({
          get: 'user',
          userId: 581392,
          accessToken: '581392.467ede5.aab0a7be2daa42a88f3c885830decf6f',
          error: function(error) {
            console.log('instafeed: ', error);
          },
          filter: function(image) {
            return image.tags.indexOf('roadtrip') >= 0;
          },
          // every time we load more, run this function
          after: function() {
            // disable button if no more results to load
            if (!this.hasNext()) {
              console.log('no more');
              loadButton.className = 'button disabled';
            } else {
              console.log('more photos');
            }
          },
      });

      // bind the load more button
      loadButton.addEventListener('click', function() {
        userFeed.next();
      });

      // run our feed!
      userFeed.run();
    </script>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES * * */
        var disqus_shortname = 'roadtripouestamericain';

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
  </body>
</html>
